.container {
	padding: 0 $container-padding;
	max-width: $container-width;
	margin: 0 auto;
	position: relative;
	// overflow: hidden;

	
	@media only screen and (min-width: $md) { 
		padding: 0 44px;
		max-width: 1293px;
	}

	@media only screen and (min-width: $xl) { 
		padding: 0 144px;
		max-width: 1728px;
	}
}

.container-right {
	/* overflow-x: hidden; */
	padding-left: calc(
		(100% - $container-width) / 2 + $container-padding
	);

		@media (max-width: $lg) {
		padding-left: $container-padding;
	}
}

.container-left {
	/* overflow-x: hidden; */
	padding-right: calc(
		(100% - $container-width) / 2 + $container-padding
	);

	@media (max-width: $md) {
		padding-right: $container-padding;
	}
}
