.logo-icon {
    width: 218px;
    height: 38px;
}

.buzzi-icon {
    width: 93px;
    height: 18px;
}

.cemex-icon {
    width: 85px;
    height: 24px;
}

.heidelberg-icon {
    width: 86px;
    height: 7px;
}

.intercem-icon {
    width: 84px;
    height: 47px;
}

.lafagre-icon {
    width: 91px;
    height: 20px;
}

.spenner-icon {
    width: 84px;
    height: 13px;
}

.thomas-icon {
    width: 84px;
    height: 27px;
}

.wittekind-icon {
    width: 85px;
    height: 14px;
}

.zementwerk-icon {
    width: 86px;
    height: 28px;
}
