.company {

    &__wrapper {
        margin: 0 0 24px 0;
    }

    &-item__subtitle {
        // color: #DA5D24;
        // font-family: Source Sans Pro;
        font-size: 30px;
        font-weight: 400;
        line-height: 100%; // 30px
        letter-spacing: -1px;
        margin: 0 0 40px 0;
        max-width: 421px;

        @media only screen and (min-width: $md) {
            margin: 0 0 50px 0;
            max-width: unset;
            width: 238px;
        }

        @media only screen and (min-width: $lg) {
            font-size: 32px;
        }
    }

    &-list {
        @media only screen and (min-width: $md) {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "company__item1 company__item2 company__item2"
                "company__item3 company__item4 company__item5";
            justify-content: space-between;
            justify-items: stretch;
        }

        @media only screen and (min-width: $lg) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "company__item1 company__item2 company__item2 ."
                ". company__item3 company__item4 company__item5";
        }

        &_margin {
            margin: 0 0 112px 0;

            @media only screen and (min-width: $md) {
                margin: 0 0 132px 0;
            }

            @media only screen and (min-width: $lg) {
                margin: 0 0 184px 0;
            }
        }
    }

    &__text {
        color: #1A171B;
        font-family: Source Sans Pro;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        /* 18.2px */
        letter-spacing: 0.3px;
        max-width: 421px;
        margin: 0 0 40px 0;

        @media only screen and (min-width: $md) {
            max-width: unset;
            margin: 0;
            width: 471px;
        }

        @media only screen and (min-width: $lg) {
            columns: 2 162px;
            font-size: 16px;
            width: 684px;
        }
    }

    &__text-space {
        display: block;
        margin-bottom: 13px;

        @media only screen and (min-width: $lg) {
            margin: 0 0 16px 0;
        }
    }

    &__item-title {
        margin: 0 0 24px 0;


        @media only screen and (min-width: $md) {
            width: 124px
        }
    }

    &__item-text {
        max-width: 471px;
        margin: 0 0 40px 0;

        @media only screen and (min-width: $md) {
            max-width: unset;
            margin: 0 5px;
        }

        @media only screen and (min-width: $lg) {
            width: 285px;
        }
    }

    &-item__arrow {
        display: block;
        margin: 0 0 40px 0;
        background-image: url('data:image/svg+xml, %20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2237%22%20height%3D%2223%22%20viewBox%3D%220%200%2037%2023%22%20fill%3D%22none%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20d%3D%22M36.0607%2012.8605C36.6464%2012.2747%2036.6464%2011.3249%2036.0607%2010.7391L26.5147%201.1932C25.9289%200.607414%2024.9792%200.607414%2024.3934%201.1932C23.8076%201.77899%2023.8076%202.72873%2024.3934%203.31452L32.8787%2011.7998L24.3934%2020.2851C23.8076%2020.8709%2023.8076%2021.8206%2024.3934%2022.4064C24.9792%2022.9922%2025.9289%2022.9922%2026.5147%2022.4064L36.0607%2012.8605ZM1.31134e-07%2013.2998L35%2013.2998L35%2010.2998L-1.31134e-07%2010.2998L1.31134e-07%2013.2998Z%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20fill%3D%22%23FF7C40%22%20%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        width: 40px;
        height: 25px;
    }

    &__item1 {
        grid-area: company__item1;
    }

    &__item2 {
        grid-area: company__item2;
    }

    &__item3 {
        grid-area: company__item3;
    }

    &__item4 {
        grid-area: company__item4;
    }

    &__item5 {
        grid-area: company__item5;
    }
}