/* Nav Icon */
.mobile-nav-btn {
	--time: 0.1s;
	--width: 45px;
	--height: 30px;
	--line-height: 5px;
	--spacing: 8px;
	--color: #ffffff;
	--radius: 4px;
    margin: 0 0 0 10px;

	/* Dynamic height and width */
	height: calc(var(--line-height) * 3 + var(--spacing) * 2);
	width: var(--width);

	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-icon {
	display: block;
	position: relative;
	width: var(--width);
	height: var(--line-height);
	background-color: var(--color);
	border-radius: var(--radius);


	@media only screen and (min-width: $lg) {
		display: none !important;

	}
}

.nav-icon::before,
.nav-icon::after {
	content: '';
	display: block;

	position: absolute;
	// left: 0;

	width: var(--width);
	height: var(--line-height);

	border-radius: var(--radius);
	background-color: var(--color);
	transition: transform var(--time) ease-in,
		top var(--time) linear var(--time);
}

.nav-icon::before {
	width: 33px;
	right: 0;
	top: calc(-1 * (var(--line-height) + var(--spacing)));
}

.nav-icon::after {
	/* top: calc(var(--line-height) * 2); */
	top: calc(var(--line-height) + var(--spacing));
}

.nav-icon.nav-icon--active {
	background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
	top: 0;
	transition: top var(--time) linear,
		transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
	width: 45px;
	transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
	transform: rotate(-45deg);
}

/* Layout */
.mobile-nav-btn {
	z-index: 999;
	
	@media only screen and (max-width: $md) {
		display: block !important;
		position: relative;
		float: right;
	}

	@media only screen and (min-width: $lg) {
		display: none !important;

	}
}
