.leadership {
    position: relative;

    &__img-block {
        position: relative;
        margin: 0 30px 0 0;
        flex-shrink: 0;   
        width: 140.67px;
        height: 169.098px;

        @media only screen and (min-width: $md) {
            width: 160.411px;
            height: 192.829px;
        }

        @media only screen and (min-width: $lg) {
            width: 287px;
            height: 345px;
        }
    }

    &__svg--first {
        position: absolute;
        width: 126.344px;
        height: 97.437px;
        z-index: -1;
        left: 32px;
        bottom: 11px;

        @media only screen and (min-width: $md) {
            width: 144.075px;
            height: 111.111px;
            left: 35px;
            bottom: 0;
        }

        @media only screen and (min-width: $lg) {
            width: 245px;
            height: 196px;
            left: 71px;
            bottom: 0;
        }
    }

    &__svg--second {
        position: absolute;
        z-index: -1;
        width: 126.344px;
        height: 97.437px;
        left: 19px;
        bottom: -18px;

        @media only screen and (min-width: $md) {
            width: 144.075px;
            height: 111.111px;
            left: 19px;
            bottom: -23px;
        }

        @media only screen and (min-width: $lg) {
            width: 245px;
            height: 196px;
            left: 27px;
            bottom: -40px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 0 32px 0;
        row-gap: 100px;
        column-gap: 50px;

        @media only screen and (min-width: $md) {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 0 0 80px;
            margin: 0 0 83px 0;
            column-gap: 0;
        }

        @media only screen and (min-width: $lg) {
            column-gap: 50px;
        }

        @media only screen and (min-width: $xl) {
            flex-wrap: nowrap;
        }
    }

    &__container-block {
        display: flex;
    }

    &__list {
        width: 191px;
    }

    &__hr {
        border-top: 0.5px dashed #2F3034;
        margin: 0 0 32px 0;
        opacity: 0.5;

        @media only screen and (min-width: $md) {
            margin: 0 0px 72px 77px;
            max-width: 1360px;
        }
    }

    &__name {
        color: #000;
        // font-family: Source Sans Pro;
        font-size: 15px;
        font-weight: 700;
        line-height: 120%; // 18px
        width: 139px;
        margin: 0 0 21px 0;

        @media only screen and (min-width: $lg) {
            font-size: 36px;
            min-width: 346px;
        }
    }

    &__position {

        // font-family: Source Sans Pro;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%; // 16px
        margin: 0 0 16px 0;
        display: flex;
        align-items: center;

        @media only screen and (min-width: $md) {
            max-width: 161px;
        }

        &::before {
            content: "";
            display: block;
            background-image: url('data:image/svg+xml, %20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2237%22%20height%3D%2223%22%20viewBox%3D%220%200%2037%2023%22%20fill%3D%22none%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20d%3D%22M36.0607%2012.8605C36.6464%2012.2747%2036.6464%2011.3249%2036.0607%2010.7391L26.5147%201.1932C25.9289%200.607414%2024.9792%200.607414%2024.3934%201.1932C23.8076%201.77899%2023.8076%202.72873%2024.3934%203.31452L32.8787%2011.7998L24.3934%2020.2851C23.8076%2020.8709%2023.8076%2021.8206%2024.3934%2022.4064C24.9792%2022.9922%2025.9289%2022.9922%2026.5147%2022.4064L36.0607%2012.8605ZM1.31134e-07%2013.2998L35%2013.2998L35%2010.2998L-1.31134e-07%2010.2998L1.31134e-07%2013.2998Z%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20fill%3D%22%23FF7C40%22%20%2F%3E%3C%2Fsvg%3E');
            background-repeat: no-repeat;
            background-size: 20px 14px;
            padding-left: 27px;
            height: 17px;

            @media only screen and (min-width: $lg) {
                padding-left: 46px;
                height: 30px;
                background-size: 34px 26px;
            }
        }
    }

    &__text-sm {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; // 18.2px 
        letter-spacing: 0.3px;
        margin: 0 0 24px 0;

        @media only screen and (min-width: $md) {
            max-width: 170px;
        }

        @media only screen and (min-width: $lg) {
            font-size: 16px;
            min-width: 220px;
            margin: 0 0 24px 0;
        }
    }
}

.company__title.orange {
    margin: 0 0 40px 0;
}

.team {

    &__main-title {
        color: #000;
        // font-family: Source Sans Pro;
        font-weight: 700;
        line-height: 100%;
        font-size: 30px; //40px
        margin: 0 0 24px 0;
        letter-spacing: -1px;

        @media only screen and (min-width: $lg) {
            font-size: 40px;
            margin: 0 0 40px 0;
        }
    }

    &__subtitle {

        // font-family: Source Sans Pro;
        font-size: 32px;
        font-weight: 400;
        line-height: 100%; // 32px 
        letter-spacing: -1px;
        width: 345px;
        margin: 0 0 40px 0;

        @media only screen and (min-width: $md) {
            margin: 0 0 30px 0;
            font-size: 30px;
        }

        @media only screen and (min-width: $lg) {
            width: 445px;
            font-size: 32px;
            margin: 0 0 70px 0;
        }
    }

    &__container {
        margin: 0 0 32px 0;
        column-gap: 7px;
        row-gap: 32px;

        @media only screen and (min-width: $md) {
            column-gap: 10px;
        }

        @media only screen and (min-width: $lg) {
            column-gap: 3px;
        }
    }

    &-card {
        position: relative
    }

    &__hr {
        border-top: 0.5px dashed #2F3034;
        margin: 0 0 32px 0;
        opacity: 0.5;

        @media only screen and (min-width: $md) {
            margin: 0 0 72px 0;
        }
    }

    &-leadership {
        display: flex;
    }


    &-list {

        display: flex;
        flex-wrap: wrap;
    }

    &-card {

        @media only screen and (min-width: $md) {
            padding: 0 0 0 80px;
        }
    }

    &__card-list {
        width: 109.61px;

        @media only screen and (min-width: $md) {
            width: 113.228px;
        }

        @media only screen and (min-width: $lg) {
            width: 215px;
        }
    }

    &__rectangle {
        max-width: 1703px;
        margin: -4px auto;
    }

    &__svg-rectangle {
        width: 126.344px;
        height: 97.437px;
        margin: 0 0 0 -35px;

        @media only screen and (min-width: $md) {
            width: 107px;
            height: 98px;
            margin: 0 0 0 -25px;
        }

        @media only screen and (min-width: $lg) {
            width: 156px;
            height: 143px;
        }
    }

    &__img {

        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    &-row {
        @media only screen and (min-width: $md) {
            display: flex;
            gap: 50px;
        }

        @media only screen and (min-width: $lg) {
            gap: 140px;
        }
    }

    &-title {

        position: relative;
        color: #0E0E0C;
        font-size: 26px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        @media only screen and (min-width: $md) {
            transform: rotate(-90deg);
        }

        &::before {
            position: absolute;
            top: -15px;
            left: 18px;
            content: "";
            width: 19.5px;
            height: 66px;
            background-color: #FF7C40;
            transform: rotate(-90deg);
            z-index: -1;
        }

        @media only screen and (min-width: $md) {

            font-size: 28px;
        }

        @media only screen and (min-width: $lg) {
            font-size: 32px;
        }
    }

    &__name {

        color: #000;
        // font-family: Source Sans Pro;
        font-size: 15px;
        font-weight: 700;
        line-height: 120%; // 18px
        width: 110px;
        margin: 0 0 16px 0;
        height: 42px;

        @media only screen and (min-width: $md) {
            max-width: 161px;
        }

        @media only screen and (min-width: $lg) {
            font-size: 20px;
            min-width: 212px;
        }
    }

    &__position {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; // 14px
        display: flex;

        @media only screen and (min-width: $lg) {
            width: 175px;
            font-size: 16px;
            align-items: center;
        }

        &::before {
            content: "";
            display: block;
            background-image: url('data:image/svg+xml, %20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2237%22%20height%3D%2223%22%20viewBox%3D%220%200%2037%2023%22%20fill%3D%22none%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20d%3D%22M36.0607%2012.8605C36.6464%2012.2747%2036.6464%2011.3249%2036.0607%2010.7391L26.5147%201.1932C25.9289%200.607414%2024.9792%200.607414%2024.3934%201.1932C23.8076%201.77899%2023.8076%202.72873%2024.3934%203.31452L32.8787%2011.7998L24.3934%2020.2851C23.8076%2020.8709%2023.8076%2021.8206%2024.3934%2022.4064C24.9792%2022.9922%2025.9289%2022.9922%2026.5147%2022.4064L36.0607%2012.8605ZM1.31134e-07%2013.2998L35%2013.2998L35%2010.2998L-1.31134e-07%2010.2998L1.31134e-07%2013.2998Z%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20fill%3D%22%23FF7C40%22%20%2F%3E%3C%2Fsvg%3E');
            background-repeat: no-repeat;
            background-size: 18px 15px;
            padding-left: 22px;
            height: 30px;

            @media only screen and (min-width: $lg) {
                padding-left: 46px;
                height: 30px;
                background-size: 34px 26px;
            }
        }

    }

    &__img-block {
        position: relative;
        width: 109.61px;
        height: 109.61px;
        margin: 0 0 8px 0;

        @media only screen and (min-width: $md) {
            margin: 0 0 13px 0;
            width: 113.228px;
            height: 113.754px;
        }

        @media only screen and (min-width: $lg) {
            width: 215px;
            height: 216px;
        }
    }

    &__svg {
        position: absolute;
        z-index: -1;
        width: 126.344px;
        height: 97.437px;
        bottom: 107px;

        @media only screen and (min-width: $md) {
            right: -17px;
            bottom: 145px;
        }

        @media only screen and (min-width: $lg) {
            right: -25px;
            width: 217.723px;
            height: 219.489px;
            bottom: 113px;
        }
    }
}


.leadership {

    &__card {
        margin-bottom: 32px;
    }

    &__title {
        margin: 0 0 40px 0;

        @media only screen and (min-width: $md) {
            position: absolute;
            left: -79px;
            bottom: 31%;
            margin: 0;
        }

        @media only screen and (min-width: $lg) {
            left: -89px;
            bottom: 27%;
        }
    }
}

.engineers {
    &__title {
        margin: 0 0 32px 0;

        @media only screen and (min-width: $md) {
            position: absolute;
            left: -32px;
            top: 64%;
            margin: 0;
        }

        @media only screen and (min-width: $lg) {
            left: -42px;
            top: 67%;
        }
    }
}

.technical-staff {

    &__title {
        margin: 0 0 32px 0;

        @media only screen and (min-width: $md) {
            position: absolute;
            left: -55px;
            top: 55%;
            margin: 0;
        }

        @media only screen and (min-width: $lg) {
            left: -67px;
            top: 79%;
        }
    }
}

.trainess {
    &__title {
        margin: 0 0 32px 0;

        @media only screen and (min-width: $md) {
            position: absolute;
            left: -96px;
            bottom: 120px;
            margin: 0;
        }

        @media only screen and (min-width: $lg) {
            left: -116px;
            bottom: 145px;
        }
    }
}

.other {
    &__title {
        margin: 0 0 32px 0;

        @media only screen and (min-width: $md) {
            position: absolute;
            left: -50%;
            bottom: 120px;
            margin: 0;
        }

        @media only screen and (min-width: $lg) {
            left: -41%;
            bottom: 145px;
        }
    }
}

.leadership__hr.trainees__hr {
    @media only screen and (min-width: $md) {
        display: none;
    }
}